<form action="/Product/Search" method="get">
    <input class="search-input"
           type="text"
           name="searchString"
           placeholder="@KDKMenShop.Resrources.lang.Bạn_cần_tìm_">
    <button type="submit" class="site-btn">@KDKMenShop.Resrources.lang.Tìm_kiếm</button>
    <div class="search-suggestions"></div>
</form>