<script src="../js/ScriptForBanner.js"></script>
<div class="slideshow-container">
    <div class="mySlides">
        <img src="../KDKTrangChu/img/hero/Seventy_Seven.jpg" style="width:100%" class="ads">
    </div>
    <div class="mySlides">
        <img src="../KDKTrangChu/img/hero/Wrinkle.jpg" style="width:100%" class="ads">
    </div>
    <div class="mySlides">
        <img src="../KDKTrangChu/img/hero/Premium.jpg" style="width:100%" class="ads">
    </div>
    <a id="prevRegular" class="prev prev-regular" onclick="plusSlides(-1)">&#10094;</a>
    <a id="nextRegular" class="next next-regular" onclick="plusSlides(1)">&#10095;</a>
</div>
@* <script>
    window.onload = function () {
        // Get all link tags that have rel="stylesheet"
        
        let scripts = document.querySelectorAll('script[src]');
        scripts.forEach(script => {
            if (script.src) {
                script.src = `${script.src}?v=${new Date().getTime()}`;
            }
        });
    }

</script> *@