@{
    ViewData["Title"] = "Already Rated";
}

<div style="text-align:center">
    <h1>Bạn Đã Hoàn Thành Đánh Giá</h1>

    <p>Bạn đã đánh giá cho đơn hàng này.</p>
    <br>
    <p>Nếu bạn còn bất kì thắc mắc nào xin vui lòng liên hệ với đội ngũ hỗ trợ.</p>
</div>