<!DOCTYPE html>
<html>
<head>
    <title>Đánh Giá Thành Công</title>
    <!-- Đưa các tài nguyên CSS, JS cần thiết vào đây -->
</head>
<body>
    <h1>Cám ơn bạn đã để lại đánh giá</h1>
    <br>
    <p>...</p>
    <!-- Các nội dung khác có thể được thêm vào trang -->
</body>
</html>