@model IEnumerable<LoaiSp>

<div class="col-lg-3">
	<div class="hero__categories">
		<div class="hero__categories__all">
			<i class="fa fa-bars"></i>

			<span>@KDKMenShop.Resrources.lang.Danh_sách_sản_phẩm</span>
		</div>
		<ul>
			@foreach (var item in Model)
			{


				@* var getUrl = "http://localhost:5208/api/productapi/category/" + item.MaLoaiSp; *@

				<li><a asp-action="Index" asp-controller="Category" asp-route-Slug="@item.Slug">@item.TenLoaiSp</a></li>
				@* <li><a style="cursor:pointer" onclick= "showProductByCategory('@getUrl')">@item.TenLoaiSp</a></li> *@

			}
		</ul>
	</div>

</div>


@*Hiện thông báo*@
<div id="cart-notification" class="cart-notification" style="display: none;">
	<span id="cart-message" class="cart-message">Sản phẩm đã được thêm vào giỏ hàng </span>
</div>
@* Hiển thị thông báo lỗi *@
<div id="error-notification" class="error-notification" style="display: none;">
	<span id="error-message" class="error-message"></span>
</div>



<script>
	function addToCart(productId) {
		var url = '/Cart/ThemGio?MaSanPham=' + productId;

		$.ajax({
			type: 'GET',
			url: url,
			dataType: 'json',
			success: function (result) {
				if (result.success) {
					// Thêm sản phẩm thành công, hiển thị thông báo thành công
					$("#cart-notification").fadeIn();
					// Cập nhật số lượng sản phẩm trong giỏ hàng
					$("#cart-item-count").text(result.cartItemCount);
					$("#cart-item-sum").text(result.cartItemSum);
					setTimeout(function () {
						$("#cart-notification").fadeOut();
					}, 2500);
				} else {
					// Thêm sản phẩm thất bại, hiển thị thông báo lỗi
					$("#error-message").text(result.error);
					$("#error-notification").fadeIn();
					setTimeout(function () {
						$("#error-notification").fadeOut();
					}, 2500);
				}
			},
			error: function () {
				// Hiển thị thông báo lỗi khi có lỗi xảy ra trong AJAX request
				$("#error-message").text("Đã xảy ra lỗi, vui lòng thử lại sau");
				$("#error-notification").fadeIn();
				setTimeout(function () {
					$("#error-notification").fadeOut();
				}, 2500);
			}
		});
	}
</script>
