
@model LoaiSp
@{
	ViewData["title"] = "Sửa Loại Sản Phẩm";

}

<div class ="col-md-12 " >
		<h3>Sửa Sản Phẩm</h3>
<style>
	.custom-select {
	width: 100%;

}
.btn{
	margin-top:20px;
}
</style>

<div class="col-md-9" style="margin-left:150px;">

<form asp-action="Edit" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			@*< div class="form-group">
	<label>Mã Sản Phẩm</label>
	<input asp-for="MaSanPham" class="form-control" />
	<span asp-validation-for="MaSanPham" class="text-danger" />
	</div> *@
	<div class="form-group">
	<label>Tên Loại Sản Phẩm</label>
	<input asp-for="TenLoaiSp" class="form-control" />
	<span asp-validation-for="TenLoaiSp" class="text-danger" />
	</div>


	<div class="form-group btn" style="margin-top:20px">
	<button class="btn btn-primary">Cập Nhật</button>
	</div>
	
</form>
</div>	
<a asp-action="Index">Trở về</a>
</div>

</div>	
