@{
    ViewBag.Title = "KhongCoQuyen";
    Layout = "~/Areas/Admin/Views/Shared/_Layout-admin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessPassword</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            align-items: center;
            justify-content: center;
        }

        .content {
            flex: 1;
            margin-bottom: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        img {
            height: 150px; /* Increase image size */
            margin-bottom: 20px;
        }

        .footer {
            text-align: center;
            padding: 10px 0;
        }

        h3 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="~/Images/Success.jpg" alt="Success" />
            <h3>Đặt lại mật khẩu thành công vui lòng kiểm tra email.</h3>
        </div>
        <div class="footer">
            @Html.ActionLink("Quay Về", "DanhSachTaiKhoan", "Account")
        </div>
    </div>
</body>
</html>
</div>